{% extends 'base.html.twig' %}

{% block body %}
<div>
    {% if limit > 0 %}
        {% for message in messages|slice(0, limit) %}
            <div>{{message}}</div>
        {% endfor %}
    {% else %}
        <div>No messages</dov>
    {% endif %}
</div>
{% endblock %}

